@import "~bootstrap/scss/functions";
@import '../../../scss/custom_variable';
@import "~bootstrap/scss/variables";

.logo {
  text-indent:101%; /* 首行縮排 */
  overflow:hidden; /* 自動隱藏超出的文字或圖片 */
  white-space:nowrap; /* 希望元素在第一排上面，沒有斷行 */
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('../img/logo.png');
  background-color: $light;
  background-size: cover;
  border-radius: 50%;
}
.headerNavbar {
  padding: 0;
  background-color: $light;
  transition: all .2s linear;
    &.isTop {
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: rgba($light, .2);
      backdrop-filter: blur(5px)
    }
}

.childrenMenu {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: max-content;
  height: 0;
  padding: 0 .5rem;
  text-align: center;
  background: $light;
  border-radius: .25rem;
  transform: translateX( -50% );
  transition: all .3s linear;
  overflow: hidden;

  @media(max-width: 768px) {
    position: static;
  }
}
.handleChildrenMenu:hover {
  .childrenMenu {
    height: auto;
    padding: .5rem;
  }
}