// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./scss/custom_variable";

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// 5. Add additional custom code here

@import '~bootstrap/scss/bootstrap';
@import "./scss/custom_base";

.card {
  z-index: 2;
}

.btn-primary {
  color: #fff;
}

.navbar {
  padding: 0;
}

.nav-item {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: auto;
  }
}

.nav-link {
  padding: 1rem 1.25rem;
}

.swiper-button-next, .swiper-button-prev {
  color: $secondary;
}

.list-group {
  li+li {
    margin-top: -1px;
  }
}

.sticky-sideNavbar {
  position: sticky;
  top: 72px;
}

.page-link.active {
  background: $primary;
  color: #fff;
}

.bg-img {
  background-image: url('https://github.com/JohnsonMao/Sweetaste/blob/master/img/cover.jpg?raw=true');
  background-size: cover;
  background-attachment: fixed;
}

@import "~bootstrap/scss/utilities/api";
